.cont{
    position: relative;
    opacity: 1;

    transition: opacity 1s;
}
.cont-2{
    position: relative;
    opacity: 1;
    bottom: 0;
    transition: opacity 1.2s, bottom 1s;
}

.hidden{
    position: relative;
    height: 0;
    opacity: 0;
    top: 0;
    transition: opacity 1.2s, height 1s, top 1s;
    transition-delay: 0.4s;
}
.o--reveal{
    opacity: 1;
    height: calc(10px + 2vmin);
    top: 1vmin;
}
.o--reveal-2{
    opacity: 0.2;
    bottom: 1vmin;
}
