
.App {
  text-align: center;
    background-color:#282c34;
    font-size: 4vmin;
    color: #909eaf;
}

.no-pad{
    padding-left: 0px;
    padding-right: 0px;

}
.viewport-full{
    height: 100vh;
}

.pad-ud{
    padding-top: 4vmin;
    padding-bottom: 4vmin;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media only screen and (min-width: 1085px){
    .App{
        font-size: 4vmin;
    }
}